
  <app-modal-header title="Add Story"></app-modal-header>

<div class="modal-body">
  <form [formGroup]="storyForm">
    <div class="row">
      <div class="col-md-6">
        <app-scrum-input
          placeholder="Story name"
          formControlName="story_name"
          type="text"
        ></app-scrum-input>
      </div>
      <div class="col-md-6">
        <app-scrum-input
          placeholder="Story point"
          formControlName="story_point"
          type="number"
        ></app-scrum-input>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">

  <button
    [disabled]="storyForm.invalid"
    type="button"
    class="btn btn-outline-secondary"
    (click)="save()"
  >
    Save
  </button>
</div>
