<div class="full-screen-div">
  <app-page-title title="Story List" position="center"></app-page-title>
  <div class="p-3">
  <app-back-dashboard-btn></app-back-dashboard-btn>
  </div>
  <div class="d-flex justify-content-end me-2">
    <button
    (click)="openCreateModal()"
    type="button"
    class="btn btn-primary me-2"
  >
    Create Story
  </button>
  <button
      [routerLink]="['/'+routes.SprintManagement]"
      type="button"
      class="btn btn-primary me-2 "
    >
      Set Target Sprints
    </button>
  </div>
 
  <div class="row">
    @if(!dashBoardCardData.length){
        <p class="text-center">No stories to show.</p>
    }
   
    @for(data of dashBoardCardData;track $index){
    <div class="col-md-3 d-flex align-items-center justify-content-center mt-2">
      <app-dashboard-card [isDashboard]="false" [isButtons]="false" [cardData]="data"></app-dashboard-card>
    </div>
    }
  </div>
</div>
