
  .login-right {
    background-color: white;
  }
  
  .login-info {
    text-align: center;
  }
  
  .login-info h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .login-info p {
    margin-bottom: 1rem;
  }
  
  